<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--   <add name="Context" connectionString="Data Source=LB-KALI\SQL2014;Initial Catalog=Huilerie;User ID=sa;Password=Admin123;integrated security=False" providerName="System.Data.SqlClient" />-->
    <add name="Context" connectionString="Data Source=SEDDIK\SQLEXPRESS;Initial Catalog=HuileriesfaxProd1;User ID=;Password=;integrated security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>